@charset "UTF-8";
.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  background-color: chocolate;
  color: #fff;
  border-color: chocolate;
}

footer {
  background-color: #000;
  color: #fff;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: #fff;
  text-decoration: none;
}

.third-line {
  display: none;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }

  .second-line {
    padding: 0 2rem 0 3rem;
    border-bottom: 1px solid #392d23;
  }

  .third-line {
    display: block;
  }
}
